*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.ContainerCard {
  padding: 2pc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1pc;
  background-color: #272b33;
}
.Card{
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 0.6pc 0 0;
  gap: 0.6pc;
  background-color: #3c3e44;
  box-shadow: 0px 4px 4px 0px rgba(110, 104, 104, 0.53);
}
.Card img {
  width: 10pc;
  border-radius: 8px 0 0 8px;
}
.Card h1 {
  white-space: nowrap;
  width: 230px;
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
}